{% extends "Libro/base.html" %}

{% block content %}

Identificación del estudiante
<table>
    <thead>
    <th>
        <td>N°</td>
        <td>Apellido paterno</td>
        <td>Apellido materno</td>
        <td>Nombres</td>
        <td>Especialidad</td>
        <td>Curso</td>
    </th>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>

{% endblock %}