
<input type="date"/>
<table>
    <tr>
        <th>Hora</th>
        <th>Sector</th>
        <th>Inasistencias</th>
        <th>Asistencia total</th>
        <th>Atrasos</th>
        <th>Observaciones</th>
        <th>Firmas</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Matemáticas</td>
        <td>01-11</td>
        <td><del>41</del> 42</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Matemáticas</td>
        <td>01-11</td>
        <td>42</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
