

<input type="date"/>
<table>
    <tr>
        <th>Hora</th>
        <th>Sector</th>
        <th>Inasistencias</th>
        <th>Asistencia total</th>
        <th>Atrasos</th>
        <th>Observaciones</th>
        <th>Firmas</th>
    </tr>
    <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

Matrícula H <input type="number"/> M <input type="number"/> T <input type="number"/> Asistencia T <input type="number"/>