

<input type="date"/>
<table class="table">
    <tr>
        <th scope="col">Hora</th>
        <th scope="col">Sector</th>
        <th scope="col">Inasistencias</th>
        <th scope="col">Asistencia total</th>
        <th scope="col">Atrasos</th>
        <th scope="col">Observaciones</th>
        <th scope="col">Firmas</th>
    </tr>
    <tr>
        <td scope="row">1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<div>
Matrícula H <input type="number" class="form-control"/>
    M <input type="number" class="form-control"/>
    T <input type="number" class="form-control"/>
    <div class="col-auto>"
    Asistencia T <input type="number" class="form-control"/>
    </div>
</div>